####################################
# GLOBAL
####################################
.env
!.env.example
*.log

####################################
# NODE.JS
####################################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

####################################
# PRISMA
####################################
server/prisma/dev.db
server/prisma/dev.db-journal

####################################
# .NET / VISUAL STUDIO (QUAN TRỌNG)
####################################
.vs/
**/bin/
**/obj/
*.user
*.suo
*.userprefs
*.rsuser

####################################
# WINUI / MSBUILD
####################################
**/AppPackages/
**/BundleArtifacts/
**/TestResults/

####################################
# BUILD OUTPUT
####################################
dist/
build/

####################################
# IDE
####################################
.vscode/
.idea/
*.swp

####################################
# OS
####################################
.DS_Store
Thumbs.db
